#{extends 'frontmain.html'/}
#{set title: 'SORO HOME'/}
#{set 'moreStyles'}
<style type="text/css">
    .center {
        width: auto;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
</style>
#{/set}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/bootstrap-datetimepicker.js'}" type="text/javascript"></script>
#{/set}


<div class="alert alert-success">
    <h4>取消订单成功!</h4>
                感谢您的使用！希望下一次我们可以帮助到您！
</div>

#{form @frontend.Application.Hotel()}
<input type="submit" value="返回首页" class="btn center">
#{/form}