#{extends 'main.html'/}
#{set title:'SORO HOME'/}
#{set 'moreStyles'}
<style type="text/css">
    .sorostyle
    {
        background-color: #0088cc;
        height: 25px;
    }
    .hotel-viewbtn
    {
        width:15%;
        float:right;
        margin-bottom:8px;
    }
    .hotel-details
    {
        width:70%;
        float:left;
    }
    .brand
    {
        margin-left: 20px;
    }
</style>
#{/set}
#{set 'moreScripts' }
<script>
    var _hmt = _hmt || [];
    function open1()
    {
        open("./room.html");
    }
    function cmodal(){
        $("#myModal").modal('show');
    }
</script>

#{/set}
<div id="content">




    <h4>“城院树人”附近酒店列表</h4>
        <div class="text-center">
            <form action="@{Application.hotel()}" method="GET">
            <div class="btn-group " style="margin-bottom:5px; width:100%" id="sortdiv">
                <button class="btn" style="width:25%" name="sort" value="1" type="submit">推荐</button>
                <button class="btn" style="width:25%" name="sort" value="2" type="submit">智能</button>
                <button class="btn" style="width:25%" name="sort" value="3" type="submit">价格<i class="icon-arrow-up"></i></button>
                <button class="btn" style="width:25%" name="sort" value="4" type="submit">价格<i class="icon-arrow-down"></i></button>
            </div>
            </form>
        </div>

    #{if results}
    <div class="accordion" id="accordion2">
        #{list items: results ,as:'item'}
            <div class="accordion-group">
                <div class="accordion-heading">
                    <div class="accordion-toggle sorostyle" data-toggle="collapse" data-parent="#accordion2" href="#collapse${item_index}" >
                    ${item.hotelName}
                    </div>
                </div>
                <div id="collapse${item_index}" class="accordion-body collapse" >
                    <div class="accordion-inner">
                        <div class="hotel-details">
                            <p>星级：${item.hotelStar}</p>
                            <p>价格：${item.hotelPrice}</p>
                        </div>
                        <div class="hotel-viewbtn">
                            <form action="@{Application.room()}" method="GET">
                            <button class=" btn btn-mini btn-primary" type="submit" value="${item.id}" name="id" ><i class="icon-arrow-right"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        #{/list}
    </div>
    #{/if}

</div>