<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>Hotel | Responsible Person Information</title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta content="" name="description" />

	<meta content="" name="author" />

	<!-- BEGIN GLOBAL MANDATORY STYLES -->
    <!--开始测试image upload css-->

    <link type="text/css" rel="stylesheet" href="../public/media/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../public/media/css/bootstrap-responsive.min.css">
    <link type="text/css" rel="stylesheet" href="../public/media/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../public/media/css/style-metro.css">
    <link type="text/css" rel="stylesheet" href="../public/media/css/style.css">
    <link type="text/css" rel="stylesheet" href="../public/media/css/style-responsive.css">
    <link id="style_color" type="text/css" rel="stylesheet" href="../public/media/css/themes/default.css">
    <link type="text/css" rel="stylesheet" href="../public/media/css/uniform.default.css">
    <link href="../public/media/css/bootstrap-fileupload.css" type="text/css" rel="stylesheet">
    <link href="../public/media/css/jquery.gritter.css" type="text/css" rel="stylesheet">
    <link href="../public/media/css/chosen.css" type="text/css" rel="stylesheet">
    <link href="../public/media/css/select2_metro.css" type="text/css" rel="stylesheet">
    <link href="../public/media/cssjquery.tagsinput.css" type="text/css" rel="stylesheet">
    <link href="../public/media/css/clockface.css" type="text/css" rel="stylesheet">
    <link href="../public/media/css/bootstrap-wysihtml5.css" type="text/css" rel="stylesheet">
    <link href="../public/media/css/datepicker.css" type="text/css" rel="stylesheet">
    <link href="../public/media/css/timepicker.css" type="text/css" rel="stylesheet">
    <link href="../public/media/css/colorpicker.css" type="text/css" rel="stylesheet">
    <link href="../public/media/css/bootstrap-toggle-buttons.css" type="text/css" rel="stylesheet">
    <link href="../public/media/css/daterangepicker.css" type="text/css" rel="stylesheet">
    <link href="../public/media/css/datetimepicker.css" type="text/css" rel="stylesheet">
    <link href="../public/media/css/multi-select-metro.css" type="text/css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="assets/plugins/bootstrap-modal/css/bootstrap-modal.css">

    <link rel="stylesheet" type="text/css" href="http://www.keenthemes.com/preview/metronic/assets/plugins/ckeditor/skins/moono/editor_gecko.css?t=D08E">

        <!--结束测试-->
	<link href="../public/media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

	<link href="../public/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

	<link href="../public/media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

	<link href="../public/media/css/style-metro.css" rel="stylesheet" type="text/css"/>

	<link href="../public/media/css/style.css" rel="stylesheet" type="text/css"/>

	<link href="../public/media/css/style-responsive.css" rel="stylesheet" type="text/css"/>

	<link href="../public/media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

	<link href="../public/media/css/uniform.default.css" rel="stylesheet" type="text/css"/>

	<!-- END GLOBAL MANDATORY STYLES -->

	<!-- BEGIN PAGE LEVEL STYLES -->

	<link rel="stylesheet" type="text/css" href="../public/media/css/select2_metro.css" />

	<link rel="stylesheet" type="text/css" href="../public/media/css/chosen.css" />

	<!-- END PAGE LEVEL STYLES -->

	<link rel="shortcut icon" href="../public/media/image/favicon.ico" />
    <script src="../public/media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
*{获取用户基本信息}*
    <script>

        $.ajax({
            type:"post",
            url: "admin/selectinfo", //servlet的url，注意要组合成table的html然后返回就行了
            dateType: 'json',
            success: function (msg) {
//            alert(msg.hotelName);
                if(msg == null){
                    alert("您尚未填写基本信息！");
                }else{
                    $("#email").val(msg.email);
                    $("#fullname").val(msg.fullname);
                    $("#position").val(msg.position);
                    $("#phone").val(msg.phone);
                    $("#telephone").val(msg.telephone);
                    $("#useremail").val(msg.useremail);

                    $("#frontcontact").val(msg.frontcontact);
                    $("#fax").val(msg.fax);
                    $("#financialname").val(msg.financialname);
                    $("#financialphone").val(msg.financialphone);
                }
            },
            error: function (xhr) { alert("服务器出错了！"); }
        });

    </script>

</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

	<!-- BEGIN HEADER -->

	<div class="header navbar navbar-inverse navbar-fixed-top">

		<!-- BEGIN TOP NAVIGATION BAR -->

		<div class="navbar-inner">

			<div class="container-fluid">

				<!-- BEGIN LOGO -->

				<a class="brand" href="@{index()}">

				<img src="../public/media/image/logo.png" alt="logo" />

				</a>

				<!-- END LOGO -->

				<!-- BEGIN RESPONSIVE MENU TOGGLER -->

				<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">

				<img src="../public/media/image/menu-toggler.png" alt="" />

				</a>          

				<!-- END RESPONSIVE MENU TOGGLER -->            

				<!-- BEGIN TOP NAVIGATION MENU -->              

				<ul class="nav pull-right">

					<!-- BEGIN NOTIFICATION DROPDOWN -->   

					<li class="dropdown" id="header_notification_bar">

						<a href="#" class="dropdown-toggle" data-toggle="dropdown">

						<i class="icon-warning-sign"></i>

						<span class="badge">6</span>

						</a>

						<ul class="dropdown-menu extended notification">

							<li>

								<p>您有6个订单需要处理</p>

							</li>

							<li class="external">

								<a href="@{ordermanager}">查看所有订单 <i class="m-icon-swapright"></i></a>

							</li>

						</ul>

					</li>

					<!-- END NOTIFICATION DROPDOWN -->

					<!-- BEGIN USER LOGIN DROPDOWN -->

					<li class="dropdown user">

						<a href="#" class="dropdown-toggle" data-toggle="dropdown">

						<img alt="" src="../public/media/image/avatar1_small.jpg" />

						<span class="username">${admin.userName}</span>

						<i class="icon-angle-down"></i>

						</a>

						<ul class="dropdown-menu">

							<li><a href="@{logout}"><i class="icon-key"></i> 注销</a></li>

						</ul>

					</li>

					<!-- END USER LOGIN DROPDOWN -->

				</ul>

				<!-- END TOP NAVIGATION MENU --> 

			</div>

		</div>

		<!-- END TOP NAVIGATION BAR -->

	</div>

	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->

	<div class="page-container row-fluid">

		<!-- BEGIN SIDEBAR -->

		<div class="page-sidebar nav-collapse collapse">

			<!-- BEGIN SIDEBAR MENU -->        

			<ul class="page-sidebar-menu">

				<li>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

					<div class="sidebar-toggler hidden-phone"></div>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

				</li>

				<li>

					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

					<form class="sidebar-search">

						<div>

						</div>

					</form>

					<!-- END RESPONSIVE QUICK SEARCH FORM -->

				</li>

                <li class="">
                    <a href="@{index()}">
                        <i class="icon-home"></i>
                        <span class="title">首页</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="start active ">
                    <a href="javascript:;">
                        <i class="icon-gift"></i>
                        <span class="title">酒店基本信息</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li >
                            <a href="@{hotel}">
                                <i class="icon-time"></i>
                                酒店</a>
                        </li>
                        <li >
                            <a href="@{updateinformation}">
                                <i class="icon-group"></i>
                                酒店负责人信息</a>
                        </li>
                        <li >
                            <a href="@{roommanager}">
                                <i class="icon-coffee"></i>
                                日间房房型管理</a>
                        </li>
                        <li >
                            <a href="@{nightroommanager}">
                                <i class="icon-coffee"></i>
                                夜间房房型管理</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="" href="javascript:;">
                        <i class="icon-sitemap"></i>
                        <span class="title">酒店余房管理</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li >
                            <a href="@{daytimeroom}">
                                <i class="icon-time"></i>
                                日间房管理</a>
                        </li>
                        <li >
                            <a href="@{nighttimeroom}">
                                <i class="icon-coffee"></i>
                                夜间房管理</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="">
                        <i class="icon-table"></i>
                        <span class="title">订单管理</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li >
                            <a href="@{ordermanager}">
                                <i class="icon-time"></i>
                                日间房订单管理</a>
                        </li>
                        <li >
                            <a href="@{nightordermanager}">
                                <i class="icon-coffee"></i>
                                夜间房订单管理</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="@{statistical}">
                    *{<a href="@{error_404}">}*
                        <i class="icon-file-text"></i>
                        <span class="title">账单统计</span>
                        <span class="arrow "></span>
                    </a>
                </li>

			</ul>

			<!-- END SIDEBAR MENU -->

		</div>

		<!-- END SIDEBAR -->

		<!-- BEGIN PAGE -->  

		<div class="page-content">

			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<div id="portlet-config" class="modal hide">

				<div class="modal-header">

					<button data-dismiss="modal" class="close" type="button"></button>

					<h3>portlet Settings</h3>

				</div>

				<div class="modal-body">

					<p>Here will be a configuration form</p>

				</div>

			</div>

			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->   

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN STYLE CUSTOMIZER -->


						<!-- END BEGIN STYLE CUSTOMIZER -->   

						<h3 class="page-title">

							酒店负责人信息

							<small>填写或修改向导</small>

						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="index.html">首页</a>

								<span class="icon-angle-right"></span>

							</li>

							<li><a href="#">酒店负责人信息</a></li>

						</ul>

					</div>

				</div>

				<!-- END PAGE HEADER-->

				<!-- BEGIN PAGE CONTENT-->

				<div class="row-fluid">

					<div class="span12">

						<div class="portlet box blue" id="form_wizard_1">

							<div class="portlet-title">

								<div class="caption">

									<i class="icon-reorder"></i> 填写信息 <span class="step-title">步骤 1 至 4</span>

								</div>

								<div class="tools hidden-phone">

									<a href="javascript:;" class="collapse"></a>

								</div>

							</div>

							<div class="portlet-body form">

								<form action="@{manager.HotelControl.save()}" method="post" class="form-horizontal" id="submit_form">

									<div class="form-wizard">

										<div class="navbar steps">

											<div class="navbar-inner">

												<ul class="row-fluid">

													<li class="span3">

														<a href="#tab1" data-toggle="tab" class="step active">

														<span class="number">1</span>

														<span class="desc"><i class="icon-ok"></i> 基本信息</span>

														</a>

													</li>

													<li class="span3">

														<a href="#tab2" data-toggle="tab" class="step">

														<span class="number">2</span>

														<span class="desc"><i class="icon-ok"></i> 详细信息</span>

														</a>

													</li>

													<li class="span3">

														<a href="#tab3" data-toggle="tab" class="step">

														<span class="number">3</span>

														<span class="desc"><i class="icon-ok"></i> 其他信息</span>

														</a>

													</li>

													<li class="span3">

														<a href="#tab4" data-toggle="tab" class="step">

														<span class="number">4</span>

														<span class="desc"><i class="icon-ok"></i> 确认</span>

														</a> 

													</li>

												</ul>

											</div>

										</div>

										<div id="bar" class="progress progress-success progress-striped">

											<div class="bar"></div>

										</div>

										<div class="tab-content">

											<div class="alert alert-error hide">

												<button class="close" data-dismiss="alert"></button>

												请您正确填写一下内容.

											</div>

											<div class="alert alert-success hide">

												<button class="close" data-dismiss="alert"></button>

												Your form validation is successful!

											</div>

											<div class="tab-pane active" id="tab1">

												<h3 class="block">请输入您的更新细节</h3>


                                                *{<div class="control-group">}*

                                                    *{<label class="control-label">用户名<span class="required">*</span></label>}*

                                                    *{<div class="controls">}*

                                                        *{<input type="text" class="span6 m-wrap" name="username"/>}*

                                                        *{<span class="help-inline">可以修改您的用户名</span>}*

                                                    *{</div>}*

                                                *{</div>}*

                                                <div class="control-group">

                                                    <label class="control-label">修改密码<span class="required">*</span></label>

                                                    <div class="controls">

                                                        <input type="password" class="span6 m-wrap" name="password" id="submit_form_password"/>

                                                        <span class="help-inline">若有需要修改密码，请输入</span>

                                                    </div>

                                                </div>

                                                <div class="control-group">

                                                    <label class="control-label">密码确认<span class="required">*</span></label>

                                                    <div class="controls">

                                                        <input type="password" class="span6 m-wrap" name="rpassword"/>

                                                        <span class="help-inline">确认密码</span>

                                                    </div>

                                                </div>

                                                <div class="control-group">
                                                    <label class="control-label">邮箱<span class="required">*</span></label>
                                                    <div class="controls">
                                                        <input id="email" type="text" class="span6 m-wrap" name="email"/>
                                                        <span class="help-inline">请填写您的邮箱</span>
                                                    </div>
                                                </div>

											</div>

											<div class="tab-pane" id="tab2">

												<h3 class="block">请提供您的详细信息</h3>

                                                <div class="control-group">
                                                    <label class="control-label">负责人姓名<span class="required">*</span></label>
                                                    <div class="controls">
                                                        <input id="fullname" type="text" class="span6 m-wrap" name="fullname"/>
                                                        <span class="help-inline">请填写您的姓名</span>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">职位<span class="required">*</span></label>
                                                    <div class="controls">
                                                        <input id="position" type="text" class="span6 m-wrap" name="position"/>
                                                        <span class="help-inline">请填写您的职位</span>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">固定电话<span class="required">*</span></label>
                                                    <div class="controls">
                                                        <input id="phone" type="text" class="span6 m-wrap" name="phone"/>
                                                        <span class="help-inline">请填写您的固定电话</span>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">联系电话<span class="required">*</span></label>
                                                    <div class="controls">
                                                        <input id="telephone" type="text" class="span6 m-wrap" name="telephone"/>
                                                        <span class="help-inline">请填写您的手机号码</span>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">联系邮箱<span class="required">*</span></label>
                                                    <div class="controls">
                                                        <input id="useremail" type="text" class="span6 m-wrap" name="useremail"/>
                                                        <span class="help-inline">请填写您的常用邮箱以便我们与您联系</span>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">前台联系方式<span class="required">*</span></label>
                                                    <div class="controls">
                                                        <input id="frontcontact" type="text" class="span6 m-wrap" name="frontcontact" />
                                                        <span class="help-inline">请填写上酒店前台的联系电话，固定电话</span>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">传真<span class="required"></span></label>
                                                    <div class="controls">
                                                        <input id="fax" type="text" class="span6 m-wrap" name="fax"/>
                                                        <span class="help-inline">若酒店有传真，请填写上以便订单的打印。</span>
                                                    </div>
                                                </div>


											</div>

											<div class="tab-pane" id="tab3">

												<h3 class="block">请提供酒店财务有关负责人的联系方式</h3>

                                                <div class="control-group">
                                                    <label class="control-label">财务负责人姓名<span class="required"></span></label>
                                                    <div class="controls">
                                                        <input id="financialname" type="text" class="span6 m-wrap" name="financialname"/>
                                                        <span class="help-inline">请填写上与此平台有关财务业务的负责人</span>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">财务负责人电话<span class="required"></span></label>
                                                    <div class="controls">
                                                        <input id="financialphone" type="text" class="span6 m-wrap" name="financialphone"/>
                                                        <span class="help-inline">请填财务业务负责人的手机号码，常用号码方便联络</span>
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    <label class="control-label">同意<span class="required">*</span></label>
                                                    <div class="controls">
                                                        <label class="checkbox line">
                                                            <input type="checkbox" name="payment[]" value="1" data-title="Auto-Pay with this Credit Card." />是否已阅读<a class="edit" href="javascript:;">隐私协议</a>与<a class="edit" href="javascript:;">合作条款</a>
                                                        </label>

                                                        <div id="form_payment_error"></div>
                                                    </div>
                                                </div>

											</div>

											<div class="tab-pane" id="tab4">

												<h3 class="block">确认您所需要更新的信息</h3>

                                                <h4 class="form-section">基本信息</h4>

                                                <div class="control-group">

                                                    <label class="control-label">邮箱:</label>

                                                    <div class="controls">

                                                        <span class="text display-value" data-display="email"></span>

                                                    </div>

                                                </div>

												<h4 class="form-section">详细信息</h4>

												<div class="control-group">

													<label class="control-label">负责人姓名:</label>

													<div class="controls">

														<span class="text display-value" data-display="fullname"></span>

													</div>

												</div>

												<div class="control-group">

													<label class="control-label">职位:</label>

													<div class="controls">

														<span class="text display-value" data-display="position"></span>

													</div>

												</div>

                                                <div class="control-group">

                                                    <label class="control-label">固定电话:</label>

                                                    <div class="controls">

                                                        <span class="text display-value" data-display="phone"></span>

                                                    </div>

                                                </div>

                                                <div class="control-group">

                                                    <label class="control-label">联系电话:</label>

                                                    <div class="controls">

                                                        <span class="text display-value" data-display="telephone"></span>

                                                    </div>

                                                </div>

                                                <div class="control-group">

                                                    <label class="control-label">联系邮箱:</label>

                                                    <div class="controls">

                                                        <span class="text display-value" data-display="useremail"></span>

                                                    </div>

                                                </div>

                                                <div class="control-group">

                                                    <label class="control-label">前台联系方式:</label>

                                                    <div class="controls">

                                                        <span class="text display-value" data-display="frontcontact"></span>

                                                    </div>

                                                </div>

                                                <div class="control-group">

                                                    <label class="control-label">传真:</label>

                                                    <div class="controls">

                                                        <span class="text display-value" data-display="fax"></span>

                                                    </div>

                                                </div>

                                                <h4 class="form-section">其他信息</h4>

												<div class="control-group">

													<label class="control-label">财务负责人姓名:</label>

													<div class="controls">

														<span class="text display-value" data-display="financialname"></span>

													</div>

												</div>

												<div class="control-group">

													<label class="control-label">财务负责人电话:</label>

													<div class="controls">

														<span class="text display-value" data-display="financialphone"></span>

													</div>

												</div>

											</div>

										</div>

										<div class="form-actions clearfix">

											<a href="javascript:;" class="btn button-previous">

											<i class="m-icon-swapleft"></i> 返回

											</a>

											<a href="javascript:;" class="btn blue button-next">

											继续 <i class="m-icon-swapright m-icon-white"></i>

											</a>

											<a id="infoup" class="btn green button-submit" >

											提交 <i class="m-icon-swapright m-icon-white"></i>

											</a>

										</div>
										</div>

                                </form>
                            </div>



							</div>

						</div>

					</div>

				</div>

				<!-- END PAGE CONTENT-->         

			</div>

			<!-- END PAGE CONTAINER-->

		</div>

		<!-- END PAGE -->  

	</div>

	<!-- END CONTAINER -->

	<!-- BEGIN FOOTER -->

	<div class="footer">

		<div class="footer-inner">

			2013 &copy; Metronic by keenthemes.

		</div>

		<div class="footer-tools">

			<span class="go-top">

			<i class="icon-angle-up"></i>

			</span>

		</div>

	</div>

	<!-- END FOOTER -->

	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

	<!-- BEGIN CORE PLUGINS -->

	<script src="../public/media/js/jquery-1.10.1.min.js" type="text/javascript"></script>

	<script src="../public/media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

	<script src="../public/media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>

	<script src="../public/media/js/bootstrap.min.js" type="text/javascript"></script>

    <!--开始测试image upload -->

    <script type="text/javascript" async="" src="http://stats.g.doubleclick.net/dc.js"></script>

    <script src="../public/media/jsckeditor.js" type="text/javascript"></script>
    <script src="../public/media/js/bootstrap-fileupload.js" type="text/javascript"></script>
    <script src="../public/media/js/chosen.jquery.min.js" type="text/javascript"></script>
    <script src="../public/media/jsselect2.min.js" type="text/javascript"></script>
    <script src="../public/media/js/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
    <script src="../public/media/js/bootstrap-wysihtml5.js" type="text/javascript"></script>
    <script src="../public/media/js/jquery.tagsinput.min.js" type="text/javascript"></script>
    <script src="../public/media/js/jquery.toggle.buttons.js" type="text/javascript"></script>
    <script src="../public/media/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="../public/media/js/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="../public/media/js/clockface.js" type="text/javascript"></script>
    <script src="../public/media/js/date.js" type="text/javascript"></script>
    <script src="../public/media/js/daterangepicker.js" type="text/javascript"></script>
    <script src="../public/media/js/bootstrap-colorpicker.js" type="text/javascript"></script>
    <script src="../public/media/js/bootstrap-timepicker.js" type="text/javascript"></script>
    <script src="../public/media/js/jquery.inputmask.bundle.min.js" type="text/javascript"></script>
    <script src="../public/media/js/jquery.input-ip-address-control-1.0.min.js" type="text/javascript"></script>
    <script src="../public/media/js/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>
    <script type="text/javascript" src="../public/media/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="../public/media/js/bootstrap-modalmanager.js"></script>

    <!--结束测试-->

	<!--[if lt IE 9]>

	<script src="../public/media/js/excanvas.min.js"></script>

	<script src="../public/media/js/respond.min.js"></script>



	<![endif]-->   

	<script src="../public/media/js/jquery.slimscroll.min.js" type="text/javascript"></script>

	<script src="../public/media/js/jquery.blockui.min.js" type="text/javascript"></script>

	<script src="../public/media/js/jquery.cookie.min.js" type="text/javascript"></script>

	<script src="../public/media/js/jquery.uniform.min.js" type="text/javascript" ></script>

	<!-- END CORE PLUGINS -->

	<!-- BEGIN PAGE LEVEL PLUGINS -->

	<script type="text/javascript" src="../public/media/js/jquery.validate.min.js"></script>

	<script type="text/javascript" src="../public/media/js/additional-methods.min.js"></script>

	<script type="text/javascript" src="../public/media/js/jquery.bootstrap.wizard.min.js"></script>

	<script type="text/javascript" src="../public/media/js/chosen.jquery.min.js"></script>

	<script type="text/javascript" src="../public/media/js/select2.min.js"></script>

	<!-- END PAGE LEVEL PLUGINS -->

	<!-- BEGIN PAGE LEVEL SCRIPTS -->

	<script src="../public/media/js/app.js"></script>
    <script src="../public/media/js/md5.min.js" type="text/javascript"></script>
	<script src="../public/media/js/form-wizard.js"></script>

	<!-- END PAGE LEVEL SCRIPTS -->

	<script>

		jQuery(document).ready(function() {       

		   // initiate layout and plugins

		   App.init();

		   FormWizard.init();

		});

        $("#infoup").click(function(index){
            var pwdmd5 =document.getElementsByName("password")[0].value;
            if(pwdmd5 != ""){
                pwdmd5= md5(pwdmd5);
            }
            $.ajax({
                type:"post",
                url:"@{manager.AdminControl.update()}",//传入action来处理
                data: "email="+document.getElementsByName("email")[0].value+"&password="+pwdmd5
                        +"&position="+document.getElementsByName("position")[0].value+"&useremail="+document.getElementsByName("useremail")[0].value
                        +"&fullname="+document.getElementsByName("fullname")[0].value+"&frontcontact="+document.getElementsByName("frontcontact")[0].value
                        +"&phone="+document.getElementsByName("phone")[0].value+"&fax="+document.getElementsByName("fax")[0].value
                        +"&telephone="+document.getElementsByName("telephone")[0].value+"&financialname="+document.getElementsByName("financialname")[0].value
                        +"&financialphone="+document.getElementsByName("financialphone")[0].value+"&ttt="+Math.random(),
                dataType: "text",
                error:function(){
                    alert("服务器繁忙，请稍候在试！");
                },
                success:function(msg){

                    if(msg != null){

                        alert(msg);
                    }
                }
            })
        });
	</script>

	<!-- END JAVASCRIPTS -->   

<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);  _gaq.push(['_setDomainName', 'keenthemes.com']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script></body>

<!-- END BODY -->

</html>